body, html {
	height: 100vh;
	margin: 0;
	/* background: #7F7FD5; */
	/* background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); */
	/* background-image: radial-gradient(circle, #eceef2, #cad0d4, #a9b4b4, #8d9792, #767a71); */
}

#ChatWindow, #ContactsWindow {
	height: 100vh;
}


/*---------chat window---------------*/
.container{
    max-width:900px;
}
.inbox_people {
	background: #fff;
	float: left;
	overflow: hidden;
	width: 25%;
	border-right: 1px solid #ddd;
}

.inbox_msg {
	border: 1px solid #ddd;
	clear: both;
	overflow: hidden;
}

.top_spac {
	margin: 20px 0 0;
}

/* .recent_heading {
	float: left;
	width: 40%;
}
 */
.srch_bar {
	display: inline-block;
	text-align: right;
	width: 60%;
	padding:
}

.headind_srch {
	padding: 10px 29px 10px 20px;
	overflow: hidden;
}

.recent_heading h4 {
	color: #0465ac;
    font-size: 16px;
    margin: auto;
    line-height: 29px;
}

.srch_bar input {
	outline: none;
	border: 1px solid #cdcdcd;
	border-width: 0 0 1px 0;
	width: 80%;
	padding: 2px 0 4px 6px;
	background: none;
}

.srch_bar .input-group-addon button {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	padding: 0;
	color: #707070;
	font-size: 18px;
}

.srch_bar .input-group-addon {
	margin: 0 0 0 -27px;
}

.chat_ib h5 {
	font-size: 15px;
	color: #464646;
	margin: 0 0 8px 0;
}

.chat_ib h5 span {
	font-size: 13px;
	float: right;
}

.chat_ib p {
    font-size: 12px;
    color: #989898;
    margin: auto;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat_img {
	float: left;
	width: 11%;
}

.chat_img img {
	width: 100%
}

.chat_ib {
	float: left;
	padding: 0 0 0 15px;
	width: 88%;
}

.chat_people {
	overflow: hidden;
	clear: both;
	cursor: pointer;
}

.chat_list {
	border-bottom: 1px solid #ddd;
	margin: 0;
	/* padding: 10px 10px 10px; */
}

.inbox_chat {
	height: 550px;
	overflow-y: scroll;
}

.active_chat {
	background: #9bc8e5;
}

.incoming_msg_img {
	display: inline-block;
	width: 6%;
}

.incoming_msg_img img {
	width: 100%;
}

.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	width: 92%;
}

.received_withd_msg p {
	background: #0465ac;
	border-radius: 0 15px 15px 15px;
	color: #ffffff;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.time_date {
	color: #747474;
	display: block;
	font-size: 10px;
	
}

.received_withd_msg {
	width: 57%;
}

.mesgs{
	float: left;
	width: 100%;
}

.sent_msg p {
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 12px 15px 15px 0;
	font-size: 14px;
	margin: 0;
	color: #646464;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.incoming_msg {
	overflow: hidden;
	margin: 26px 0 26px;
}

.outgoing_msg {
	overflow: hidden;
	margin: 26px 0 26px;
}

.sent_msg {
	float: right;
	width: 46%;
}

.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
	outline:none;
}

.type_msg {
	border-top: 1px solid #c4c4c4;
	position: relative;
}

.msg_send_btn {
	background: #05728f none repeat scroll 0 0;
	border:none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	height: 33px;
	position: absolute;
	right: 0;
	top: 11px;
	width: 33px;
}

.messaging {
	padding: 0 0 50px 0;
}

.msg_history {
    height: 45vh;
	overflow-y: auto;
}


/* ------ Radio Button Css ------ */
.switch {
 position: relative;
 display: inline-block;
 width: 55px;
 height: 28px;
}

.switch input { 
 opacity: 0;
 width: 0;
 height: 0;
}

.slider {
 position: absolute;
 cursor: pointer;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background-color: #ccc;
 -webkit-transition: .4s;
 transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 20px;
 width: 20px;
 left: 4px;
 bottom: 4px;
 background-color: white;
 -webkit-transition: .4s;
 transition: .4s;
}

input:checked + .slider {
 background-color: #2196F3;
}

input:focus + .slider {
 box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
 -webkit-transform: translateX(26px);
 -ms-transform: translateX(26px);
 transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
 border-radius: 34px;
}

.slider.round:before {
 border-radius: 50%;
}

/* Grammar check Suggestions */
.wordtooltip {
  position: relative;
  display: inline-block;
}
				
.wordtooltip .wordtooltiptext {
  max-height: 150px;
  overflow-y: scroll;
  height: auto;
  visibility: hidden;
  min-width:120%;
  max-width: auto;
  background-color: #E8E8E8;
  text-align: center;
  border-radius: 6px;
  padding: 0px 5px 0px 5px;
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 50%;
  margin-left: -60%;
}
.wordtooltip:hover .wordtooltiptext {
     /* overflow-y: scroll;
 		  height: 50px; */
  visibility: visible;
}

/* Spin loader */
#lds-ring {
  display: inline-block;
  padding-top: 22%;
  padding-left: 40%;
  z-index: 1;
  position: absolute;
  width: 64px;
  height: 64px;
  display: none;
}
#lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #444 transparent transparent transparent;
}
#lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
#lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
#lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Button Tooltip */

.btnTooltip {
  position: relative;
  display: inline-block;
}
.btnTooltip .btnTooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  font-size: 14px;
  white-space: nowrap;
  border: 1px solid gray;
}
.btnTooltip:hover .btnTooltiptext {
  background-color: #f0f8fc;
  visibility: visible;
  opacity: 1;
}
.btnTooltip-right {
  top: -5px;
  left: 110%;
}
.btnTooltip-right::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}
.btnTooltip-left {
  top: -5px;
  /* bottom: auto; */
  right: 110%;
}
.btnTooltip-left::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent #555;
}

/* Upload and Download Image Div */
#uploadFileImgDiv {
	padding-top: 20%;
    padding-left: 40%;
    z-index: 1;
    position: absolute;
    display: none;
}
#downloadFileImgDiv {
	padding-top: 17%;
    padding-left: 22%;
    z-index: 1;
    position: absolute;
    display: none;
}

/* Modal Classes */
.ui-dialog .ui-dialog-titlebar-close {
	height: 25px;
	width: 25px;
	top: 40%;
}
.ui-dialog .ui-dialog-content {
    position: relative;
    border: 0;
    padding: 10px;
	background-color: #f6f6f6 !important;
    overflow: auto;
    min-height:unset !important;
}
.ui-draggable .ui-dialog-titlebar{
	border-radius: 10px;
}
.ui-widget.ui-widget-content {
	border-radius: 10px;
}
.ui-widget{
    font-family: Roboto, Sans-Serif !important;
    font-size: 16px !important;
}
.ui-widget-header {
	background-color: #4084c5 !important;
    color: white !important;
}
.dropdown a:hover{
	background: rgb(247, 247, 247, 0.5) !important;
}

.tataLogo {
	height: 40px;
	width: 200;
	border-radius: 10px !important;
	margin: 15px;
	padding: unset;
}
.experiment {
	border: 2px solid grey;
	border-radius: 20px;
	text-align: left;
	padding: 5px;
	background-color: #f0f8fc;
	width: 100%;
	overflow-y: scroll;
	height: 50vh;
	overflow: hidden;
	padding: 15px;
	font-size: 1em;
	margin-bottom: 10px !important;
}
.experiment:hover {
	overflow-y: scroll;
}
.translateButton {
        	outline: none;
        	margin: 10px 0px;
        }
        @media (min-width: 320px)  and (max-width: 768px) {
        	.ui-widget.ui-widget-content {
        		width: 330px !important;
        	}
		}
		@media (min-width: 768px) and (max-width: 992px) {
        	.ui-widget.ui-widget-content {
        		width: 400px !important;
        	}
		}
        /* Small devices (landscape phones, 320px and up) */
        @media (min-width: 320px) {
        	#englishGrammarBtnDiv .anchor, #textTranslationBtnDiv .anchor {
				width: 80%
			}
			#englishGrammarBtnDiv, #textTranslationBtnDiv  {
				text-align: center;
			}
            .container {
                width: 97%;
            }
            .content-wrapper
            {
                height: 825px;
            }
			#footerLogo {
		    	bottom: 2%;
	    		position: absolute;
			    right: 3%;
			}
			.box-tools{
			margin-top: 5px;
			}
		}
        /* Small devices (landscape phones, 480px and up) */
        @media (min-width: 480px) {
        	#englishGrammarBtnDiv .anchor, #textTranslationBtnDiv .anchor {
				width: 70%
			}
			#englishGrammarBtnDiv, #textTranslationBtnDiv  {
				text-align: center;
			}
            .container {
                width: 97%;
            }
            #footerLogo {
                position: absolute;
			    bottom: 2%;
			    right: 3%;
			}
        }


        /* Small devices (landscape phones, 576px and up) */
        @media (min-width: 576px) {
            .container {
                width: 97%;
            }
        }

        /* Medium devices (tablets, 768px and up) */
        @media (min-width: 768px) {
        	#englishGrammarBtnDiv .anchor, #textTranslationBtnDiv .anchor {
        		width: 60%
        	}
			#textTranslationBtnDiv  {
				text-align: right;
			}
			#englishGrammarBtnDiv{
				text-align: left;
			}
        	content {
        		margin-left: 8%;
        	}	
            .container {
                width: 97%;
            }
        }

        /* Large devices (desktops, 992px and up) */
        @media (min-width: 992px) {
        	#englishGrammarBtnDiv .anchor, #textTranslationBtnDiv .anchor {
				width: 50%
			}
			#textTranslationBtnDiv  {
				text-align: right;
			}
			#englishGrammarBtnDiv{
				text-align: left;
			}
        	content {
        		margin-left: 8%;
        	}
            .container {
                width: 97%;
            }

			.translateButton {
				padding-top:13%;
			}
		}
        /* Extra large devices (large desktops, 1200px and up) */
        @media (min-width: 1200px) {
        	#englishGrammarBtnDiv .anchor, #textTranslationBtnDiv .anchor {
				width: 40%
			}
			#textTranslationBtnDiv  {
				text-align: right;
			}
			#englishGrammarBtnDiv{
				text-align: left;
			}
        	.col-lg-5 {
	        	width: 44%;
	        }
	        .col-lg-2 {
	        	width: 12%;
	        }
	        #leftContainer{
	        	padding-right: unset;
	        	padding-left: 20px;
        	}
	        #rightContainer{
	        	padding-left: unset;
	        	padding-right: 20px;
        	}
        	content {
        		margin-left: 8%;
        	}
            .container {
                width: 97%;
            }

			.translateButton {
				padding-top:13%;
			}
        }

        /* Extra large devices (large desktops, 1400px and up) */
        @media (min-width: 1400px) {
        	content {
        		margin-left: 8%;
        	}
            .container {
                width: 97%;
            }

			.translateButton {
				padding-top:13%;
			}
        }

.roundButton {
	padding: 10px;
	border-radius: 30px;
	outline: none !important;
	background-color: #175896;
}
.v-btn {
	align-items: center;
	border-radius: 20px;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 36px;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	font-size: 14px;
	font-weight: 500;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 6px 8px;
	min-width: 88px;
	outline: 2;
	text-decoration: none;
	transition: .3s cubic-bezier(.25, .8, .5, 1), color 1ms;
	position: relative;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	float: right;
}
button:hover{
	box-shadow: 0px 0px 4px 5px lightgrey;
}
.dropdown-menu.show {
	border: 1px solid #777;
	background-color: #f0f8fc;
	border-radius: 15px;
	top: 25px !important;
	left: -150px !important;
	font-size: 17px;
}
body {
            font-family: Roboto, Sans-Serif !important;
            font-size: 16px;
            background-repeat: no-repeat;
		    background-size: 100% 100%;
        }
        .content-wrapper {
            background-color: #F7F1CE !important;
        }
        .container {
        	max-width: unset !important;
        }
        .navbar {
       		background-color: transparent !important;
        }
        .navbar-toggle {
        	color: #4084c5;
        }

        input:focus,
        textarea,
        select:focus,
        button:focus {
            outline: none;
        }
        select {
            margin-right: -5px;
            padding: 5px;
            height: 40px;
            border: 0px;
            border-bottom: 3px solid #204d74;
            outline: none;
            cursor: pointer;
            background-color: transparent;
            font-size: 16px;
            color: #204d74;
        }
        select option:hover{
		   background: #666;
		   color: #fff;
		   position: absolute;
		   width: 100%;
		   left: 0;
		   border: none;
		}
		 select option{
		   color: black;
		   background: #fff;
		}
		
        .box-header>.box-tools {
            position: absolute;
            right: 10px;
            top: 15px;
        }
        .box-header {
            padding: 5px;
        }
        
        html {
  			overflow:   scroll;
		}		
        ::-webkit-scrollbar {
		  width: 0px;
		  height: 0px;
		  background: transparent;
		}
		
		

.dataTables_filter label {
	font-weight: unset;
	/* color: white; */
}
.dataTables_wrapper {
	overflow-x: scroll;
}
/* .dataTables_wrapper .dataTables_paginate .paginate_button {
	color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
	color: #fff !important;
}
.dataTables_wrapper .dataTables_info{
	color: #fff !important;
} */


li {
	cursor: pointer;
	border-bottom: 0px;
	border-left: 0px;
}

li>.dropdown {
	outline: none;
}

input:checked + .slider {
    background-color: #e2dbac;
}

.nav-tabs .nav-link:hover {
	border-color: #e9ecef00 #e9ecef00 #e9ecef00;
	color: black;
}

.nav-item {
	color: #4084c5;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	color: #4084c5;
	background-color: transparent;
	border-color: transparent;
	border-bottom: 1px solid #4084c5;
	font-weight: 600;
}

.dropdown-toggle::after {
	content: unset;
}

.container-fluid {
	padding-right: 0px !important;
	padding-left: 0px !important;
	margin-right: unset !important;
	margin-left: unset !important;
}

.checked {
	color: orange;
}

.unchecked {
	color: lightgray;
}

.chartHeadings {
	text-align: center;
	background: #f0f8fc;
	padding: 8px;
	font-size: 18px;
	border: 0px solig lightgrey;
	border-radius: 10px;
}

.dropleft .dropdown-toggle::before {
	content: "\f0c9";
	border-top: 0px;
	border-right: 0px;
}

td {
	white-space: nowrap;
}

td.wrapok {
	white-space: normal
}

::-webkit-scrollbar {
	width: 0px;
	height: 0px;
	background: transparent;
}
      .switch {
    width: 51px;
    height: 20px;
}
.slider:before {
    height: 12px;
    width: 12px;
}
input[type=search] {
    color: black !important;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    height: auto !important;
    max-height: 400px !important;
}