
/* BASIC */
html {
	background-color: #56baed;
}

body {
	font-family: Roboto, sans-serif !important;
	-webkit-font-smoothing: antialiased;
	height: 100vh;
}

a {
	color: #4084c5 !important;
	display: inline-block;
	text-decoration: none;
	font-weight: 400;
}

h2 {
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	display: inline-block;
	margin: 40px 8px 10px 8px;
	color: #cccccc;
}

/* STRUCTURE */
.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 20px;
}
.wrap-login100 {
	background: unset !important;
}
.formContent {
	-webkit-border-radius: 10px 10px 10px 10px;
	border-radius: 5px 5px 5px 5px;
	/* background: #fff; */
	padding: 30px;
	width: 120%;
	max-width: 450px;
	position: relative;
	padding: 0px;
	text-align: center;
	height: 55vh;
	margin-top: 10%;
}

.formContent>span {
	-webkit-box-shadow: unset;
	box-shadow: unset;
}

.login100-form {
	box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
	border-radius: 0px 0px 20px 20px;
}

#formFooter {
	background-color: #f6f6f6;
	border-top: 1px solid #dce8f1;
	padding: 25px;
	text-align: center;
	-webkit-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
}

/* TABS */
h2.inactive {
	color: #cccccc;
}

h2.active {
	color: #0d0d0d;
	border-bottom: 2px solid #5fbae9;
}

/* FORM TYPOGRAPHY*/
/* input[type=button], input[type=submit], input[type=reset] {
	background-color: #56baed;
	border: none;
	color: white;
	padding: 15px 80px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	font-size: 13px;
	-webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
	box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	margin: 5px 20px 40px 20px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover
	{
	background-color: #39ace7;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active
	{
	-moz-transform: scale(0.95);
	-webkit-transform: scale(0.95);
	-o-transform: scale(0.95);
	-ms-transform: scale(0.95);
	transform: scale(0.95);
} */

input[type=text] {
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 15px 9px;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 5px;
	width: 100%;
	border: 2px solid #f6f6f6;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus {
	background-color: #fff;
	border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder {
	color: #cccccc;
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@
-webkit-keyframes fadeInDown { 0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}

100%
{
opacity


:

 

1;
-webkit-transform


:

 

none


;
transform


:

 

none


;
}
}
@keyframes fadeInDown { 0% {
	opacity: 0;
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
 } 100% {
	opacity: 1;
	-webkit-transform: none;
	transform: none;
 }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {from { opacity:0;
	
} to {
	opacity: 1;
}

}
@-moz-keyframes fadeIn {from { opacity:0;
	
	} to {
		opacity: 1;
	}
}
@keyframes fadeIn {from { opacity:0;
	
} to {
	opacity: 1;
}
}
.fadeIn {
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 1s;
	-moz-animation-duration: 1s;
	animation-duration: 1s;
}

.first {
	/* -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s; */
	padding-top: 8%;
	float: left;
	padding-left: 30px;
	color: white;
}

.fadeIn.second {
	-webkit-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.fadeIn.third {
	-webkit-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

.fadeIn.fourth {
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;
	animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
	display: block;
	left: 0;
	bottom: -10px;
	width: 0;
	height: 2px;
	background-color: #56baed;
	content: "";
	transition: width 0.2s;
}

.underlineHover:hover {
	color: #0d0d0d;
}

.underlineHover:hover:after {
	width: 100%;
}

/* OTHERS */
*:focus {
	outline: 2;
}

.inputField {
	background-color: unset !important;
	text-align: left !important;
	border: unset !important;
	border-bottom: 1px solid lightgrey !important;
}

input[type=password] {
	background-color: #f6f6f6;
	border: none;
	color: #0d0d0d;
	padding: 15px 9px;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 5px;
	width: 100%;
	border: 2px solid #f6f6f6;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

.v-btn {
	align-items: center;
	border-radius: 20px;
	display: -ms-inline-flexbox;
	display: inline-flex;
	height: 36px;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	font-size: 14px;
	font-weight: 500;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 6px 8px;
	min-width: 88px;
	outline: 2;
	text-decoration: none;
	transition: .3s cubic-bezier(.25, .8, .5, 1), color 1ms;
	position: relative;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	float: right;
}

button:hover:enabled {
	box-shadow: 0px 0px 4px 5px lightgrey;
}

.header {
	height: 13vh;
	background-color: #4084c5 !important;
	border-radius: 20px 20px 0px 0px;
}

input[type=text]:focus, input[type=password]:focus {
	border-bottom: 2px solid #4084c5 !important;
}

h5 {
	margin-bottom: 10px;
}
.row {
	width: 100%;
	text-align: left;
}

#submitButton {
	background-color: #4084c5;
	color: white;
	margin-top: 18px;
}
#forgot {
	float: left;
	/* position: absolute; */
	padding: 20px 0px 0px 20px;
	cursor: pointer !important;
}
.ui-widget-header {
    background: unset;
    border: unset;
}
.ui-dialog {
	/* width: 420px !important;
    height: 310px !important; */
    border-radius: 20px;
}

/* Small devices (landscape phones, 320px and up) */
@media (min-width: 320px) {
	.ui-dialog {
		width: 100% !important;
	    height: 50% !important;
    	top: 19% !important;
	}
}
/* Small devices (landscape phones, 480px and up) */
@media (min-width: 480px) {
	.ui-dialog {
		width: 67% !important;
	    height: 77% !important;
	    top: 22% !important;
    }
}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	.ui-dialog {
		width: 60% !important;
	    height: 70% !important;
	    top: 19% !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.ui-dialog {
		width: 55% !important;
	    height: 36% !important;
	    top: 20% !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.ui-dialog {
		width: 45% !important;
	    height: 42% !important;
	    top: 20% !important;
    }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.ui-dialog {
		width: 32% !important;
	    height: 50% !important;
	    top: 19% !important;
    }
}

/* Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
	
}
