/**
 * Copyright 2017, Google, Inc.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
html, body {
	height: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	/* color: #222; */
	font-family: 'Open Sans', arial, sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	background: -webkit-gradient(radial, center center, 500, center center, 1400, from(rgba(0
		, 0, 0, 0)), to(rgba(0, 0, 0, 0.6))) #fff;
	background: -moz-radial-gradient(farthest-side, rgba(0, 0, 0, 0) 90%,
		rgba(0, 0, 0, 0.2) 150%) #fff;
	background: -webkit-radial-gradient(farthest-side, rgba(0, 0, 0, 0) 90%,
		rgba(0, 0, 0, 0.2) 150%) #fff;
	background: -ms-radial-gradient(farthest-side, rgba(0, 0, 0, 0) 90%,
		rgba(0, 0, 0, 0.2) 150%) #fff;
	background: -o-radial-gradient(farthest-side, rgba(0, 0, 0, 0) 90%,
		rgba(0, 0, 0, 0.2) 150%) #fff;
	background: radial-gradient(farthest-side, rgba(0, 0, 0, 0) 90%,
		rgba(0, 0, 0, 0.2) 150%) #fff;
	box-sizing: border-box;
}

a {
	color: navy;
}

body>section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	box-sizing: border-box;
	height: 100%;
	-webkit-perspective: 800;
	-webkit-transform-style: preserve-3d;
}

section>* {
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
}

.fft {
	position: absolute;
	z-index: 1;
	-webkit-box-reflect: below 5px
		-webkit-linear-gradient(top, transparent, transparent 50%, rgba(255, 255
		, 255, 0.2));
}

#fft {
	transform: translateX(-50%) rotateX(-30deg) rotateY(30deg);
}

#fft2 {
	transform: translateX(-50%) rotateX(-30deg) rotateY(-30deg);
}

#playbutton {
	cursor: pointer;
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 3px solid rgba(0, 0, 0, .9);
}

#playbutton.playing {
	background: rgba(0, 0, 0, .25);
	opacity: 0.6;
}

#playbutton::before {
	content: '\feff';
	display: inline-block;
	border-style: solid;
	border-color: transparent transparent transparent rgba(0, 0, 0, .9);
	border-width: 15px 0 15px 20px;
	box-sizing: border-box;
	height: 0;
	width: 50%;
	margin-left: 15px;
	margin-top: 7px;
}

#playbutton.playing::before, #playbutton.playing:hover::before {
	content: '\feff';
	display: inline-block;
	border: 4px solid rgba(0, 0, 0, .9);
	border-width: 0px 12px;
	box-sizing: border-box;
	height: 53%;
	width: 0px;
	margin: 10px 10px auto;
}

/* #transcript {
	font-size: 1.2em;
	line-height: 1.3em;
	max-width: 50em;
	height: calc(1.3em * 5);
	position: relative;
	min-width: 40em;
	overflow-y: auto;
	box-sizing: border-box;
	transform: translateY(-1em);
}

#transcript>div {
	position: absolute;
	bottom: 0;
	padding: .7em;
	margin: 0 auto;
	left: 50%;
	transform: translate(-50%, -1rem);
	width: 100%;
	text-align: center;
	box-sizing: border-box;
	background: rgba(195, 215, 264, .5);
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: .5em;
} */

#transcript>div:empty {
	visibility: hidden;
}

/*//////////////////////////////////////////////////////////////////
[ FONT ]*/
@font-face {
	font-family: Ubuntu-Regular;
	src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
	font-family: Ubuntu-Bold;
	src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Ubuntu-Regular, sans-serif;
}

/*---------------------------------------------*/
a {
	font-family: Ubuntu-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
	color: #403866;
}

/*---------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

p {
	font-family: Ubuntu-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
	outline: none;
	border: none;
}

textarea:focus, input:focus {
	border-color: transparent !important;
}

input::-webkit-input-placeholder {
	color: #8f8fa1;
}

input:-moz-placeholder {
	color: #8f8fa1;
}

input::-moz-placeholder {
	color: #8f8fa1;
}

input:-ms-input-placeholder {
	color: #8f8fa1;
}

textarea::-webkit-input-placeholder {
	color: #8f8fa1;
}

textarea:-moz-placeholder {
	color: #8f8fa1;
}

textarea::-moz-placeholder {
	color: #8f8fa1;
}

textarea:-ms-input-placeholder {
	color: #8f8fa1;
}

label {
	display: block;
	margin: 0;
}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
	font-family: Ubuntu-Regular;
	font-size: 16px;
	color: #827ffe;
	line-height: 1.4;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/
.limiter {
	width: 100%;
	margin: 0 auto;
}

.container-login100 {
	width: 100%;
	min-height: 100vh;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;;
}

.wrap-login100 {
	width: 390px;
	background: #fff;
	border-radius: 10px;
	position: relative;
}

/*==================================================================
[ Form ]*/
.login100-form {
	width: 100%;
}

.login100-form-title {
	font-family: Ubuntu-Bold;
	font-size: 30px;
	color: #403866;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
	display: block;
}

/*------------------------------------------------------------------
[ Input ]*/
.wrap-input100 {
	width: 100%;
	position: relative;
	background-color: #e6e6e6;
	border: 1px solid transparent;
	border-radius: 3px;
}

/*---------------------------------------------*/
.input100 {
	font-family: Ubuntu-Bold;
	color: #403866;
	line-height: 1.2;
	font-size: 18px;
	display: block;
	width: 100%;
	background: transparent;
	height: 62px;
	padding: 0 20px 0 38px;
}
/*------------------------------------------------------------------
[ Focus Input ]*/
.focus-input100 {
	position: absolute;
	display: block;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	top: -1px;
	left: -1px;
	pointer-events: none;
	border: 1px solid #827ffe;
	border-radius: 3px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transform: scaleX(1.1) scaleY(1.3);
	-moz-transform: scaleX(1.1) scaleY(1.3);
	-ms-transform: scaleX(1.1) scaleY(1.3);
	-o-transform: scaleX(1.1) scaleY(1.3);
	transform: scaleX(1.1) scaleY(1.3);
}

.input100:focus+.focus-input100 {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.eff-focus-selection {
	visibility: visible;
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

/*==================================================================
[ Restyle Checkbox ]*/
.input-checkbox100 {
	display: none;
}

.label-checkbox100 {
	font-family: Ubuntu-Regular;
	font-size: 16px;
	color: #999999;
	line-height: 1.2;
	display: block;
	position: relative;
	padding-left: 26px;
	cursor: pointer;
}

.label-checkbox100::before {
	content: "\f00c";
	font-family: FontAwesome;
	font-size: 13px;
	color: transparent;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	background: #fff;
	border: 2px solid #827ffe;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.input-checkbox100:checked+.label-checkbox100::before {
	color: #827ffe;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
	width: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}

.login100-form-btn {
	font-family: Ubuntu-Bold;
	font-size: 16px;
	color: #fff;
	line-height: 1.2;
	text-transform: uppercase;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	width: 100%;
	height: 62px;
	background-color: #827ffe;
	border-radius: 3px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.login100-form-btn:hover {
	background-color: #403866;
}

/*------------------------------------------------------------------
[ Alert validate ]*/
.validate-input {
	position: relative;
}

.alert-validate::before {
	content: attr(data-validate);
	position: absolute;
	max-width: 70%;
	background-color: #fff;
	border: 1px solid #c80000;
	border-radius: 3px;
	padding: 4px 25px 5px 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 12px;
	pointer-events: none;
	font-family: Ubuntu-Regular;
	color: #c80000;
	font-size: 14px;
	line-height: 1.4;
	text-align: left;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	-moz-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.alert-validate::after {
	content: "\f12a";
	font-family: FontAwesome;
	display: block;
	position: absolute;
	color: #c80000;
	font-size: 18px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 18px;
}

.alert-validate:hover:before {
	visibility: visible;
	opacity: 1;
}
.canvas{
	margin-top: 25%;
    position: absolute;
    margin-left: 50%;
    opacity: 0.5;
}
@media ( max-width : 992px) {
	.alert-validate::before {
		visibility: visible;
		opacity: 1;
	}
}


/* accordion css */
.accordion {
  max-width: 500px;
  margin: 0 auto;
}
.accordion__title {
  font-family: 'industry', sans-serif;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.125em;
}
.accordion__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.accordion__item {
  border-bottom: 1px solid #000;
 /*  visibility: hidden; */
}
.accordion__item:last-child {
  border-bottom: 0;
}
.accordion__item.is-active .accordion__itemTitleWrap::after {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}
.accordion__item.is-active .accordion__itemIconWrap {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.accordion__itemTitleWrap {
  display: flex;
  height: 2.5em;
  align-items: center;
  padding: 0 1em;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.accordion__itemTitleWrap::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: #3bade3;
  background: linear-gradient(45deg, #3bade3 0%, #576fe6 25%, #9844b7 51%, #ff357f 100%);
  z-index: 1;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
}
.accordion__itemTitleWrap.is-active::after, .accordion__itemTitleWrap:hover::after {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}
.accordion__itemIconWrap {
  width: 1.25em;
  height: 1.25em;
  margin-left: auto;
  position: relative;
  z-index: 10;
}
.accordion__itemTitle {
  margin: 0;
  font-family: 'industry', sans-serif;
  font-weight: 300;
  font-size: 1em;
  position: relative;
  z-index: 10;
}
.accordion__itemContent {
  font-size: 0.875em;
  height: 0;
  overflow: hidden;
  background-color: #fff;
  padding: 0 1.25em;
}
.accordion__itemContent p {
  margin: 2em 0;
}

