body{
	font-family: Roboto Sans-Serif;
	background-color: #F7F1CE;
}
.tataLogo {
	background-color: white;
	height: 45px;
	width: 60px;
	border-radius: 10px !important;
	margin: 5px 5px 5px 3%;
}