<html>
<head>
<title>Q Bot</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link href="/static/images/icons/favicon.png" rel="icon" type="image/png" />
<link href="/static/images/icons/favicon.png" rel="shortcut icon"
	type="image/png" />
<!--===============================================================================================-->
    <link rel="stylesheet" href="static/rest_framework/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/util.css">
<link rel="stylesheet" href="/static/css/main.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/static/css/login.css">
<!--===============================================================================================-->
</head>
<body onload='document.login.username.focus();'>
   <input type="hidden" id="contextPath" value="${pageContext.request.contextPath}" />
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-b-90">
				<div class="wrapper">
					<div id="loginDiv" class="formContent">

						<!-- Tabs Titles -->
						<div class="header">
							<div class="first">
								<h4>Login</h4>
							</div>
						</div>

						<!-- Login Form -->
						<form class="login100-form validate-form flex-sb flex-w"
							name='login' action="/login/" method='POST'
							style="padding-right: 15px; padding-left: 6px; padding-top: 15px; padding-bottom: 5px">
							{% csrf_token %}
							<input type="text" id="username" name="username" class="inputField"
								placeholder="Enter username"> <input type="password"
								id="password" name="password" placeholder="Enter password" class="inputField"
								style="margin-top: 25px">
							<div class="row" style="text-align: center; margin-left: unset; margin-right: unset;">
								<button id="submitButton" name="submit" type="submit" class="v-btn blue-grey lighten-1">
									<div class="v-btn__content">Login</div>
								</button>
							</div>
							<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
						</form>
					</div>
					<div style="display: none;" id="resetPasswardDiv" class="formContent">
						<div style="height: 7%;">
							<span style="color: red" id="errorDiv"></span>
						</div>
						<!-- Tabs Titles -->
						<div class="header">
							<div class="first">
								<h4>Reset Password</h4>
							</div>
						</div>
						<div class="text-center login100-form validate-form flex-sb flex-w"  style="height: 64%; padding-right: 15px; padding-left: 6px; padding-top: 15px; padding-bottom: 5px">
							<div style="width: 100%; text-align: center;">Email with OTP sent to <span id="emailSent" style="font-weight: bold"></span></div>
							<div style="width: 100%;margin-top: 20px;text-align: left;">
								<div id="otpDiv">
									<div style="width:100%;">
										<input id="userOtp" style="width: 70%" name="userOtp" placeholder="Please enter OTP" class="form-control"  type="text">
										<span style="color: blue; cursor: pointer; margin-top: 12px; float: right; width: 20%;" onclick="getOTP()">Re-send</span>
										<!-- <input type="button" onclick="checkOtp()" style="margin-top: 5px; float: right; width: 20%; padding: 5px; border-radius: 5px;" value="Check"> -->
									</div>
									<button onclick="cancel()" style="margin-top: 10%; background-color: gray; color: white;" type="button" class="v-btn blue-grey lighten-1">Cancel</button>
									<button onclick="checkOtp()" style="margin-top: 10%; background-color: #4084c5; color: white;" type="button" class="v-btn blue-grey lighten-1">Check</button>
								</div>
								<div id="passwordsDiv" style="display: none;"> 
									 <input id="newPassword" style="width: 80%" name="newPassword" placeholder="Enter new Password" class="form-control"  type="password">
									 <input id="reenterPassword" style="width: 80%" name="reenterPassword" placeholder=" Re-enter Password" class="form-control"  type="password">
									<button onclick="cancel()" style="background-color: gray; color: white;" type="button" class="v-btn blue-grey lighten-1">Cancel</button>
								  	<button onclick="recoverPassword()" style="background-color: #4084c5; color: white;" type="button" class="v-btn blue-grey lighten-1">Submit</button>
							  	</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a href="https://kynea.io/" target="_blank">
				<img style="height: 25px; width: 80px; position: absolute; bottom: 10%; right: 5%;" src="/static/images/Qbotlogo.jpg" alt="logo.jpg">
			</a>
		</div>
	</div>
 <script type="text/javascript">
	function preventBack() { window.history.forward(); }
	setTimeout("preventBack()", 0);
	window.onunload = function () { null };
</script>
    <script src="/static/javascript/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/static/javascript/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/javascript/login.js"></script>
</body>
</html>